server {
    listen 80 default_server;
    server_name {{ item.value.server_name }}
    access_log off;
    error_log off;
    return 301 https://$host$request_uri;
}

server {    
    server_name {{ item.value.server_name }};

    {% if item.value.tls is defined %}
    listen 443 ssl;    

    ssl_certificate       {{item.value.tls.ssl_certificate}};
    ssl_certificate_key   {{item.value.tls.ssl_certificate_key}};
    ssl_protocols         TLSv1.1 TLSv1.2;
    ssl_ciphers           HIGH:!aNULL:!MD5; 
    {% endif %}

    {% if item.value.gzip is defined %}
    gzip on;
    gzip_types {{ item.value.gzip.types}};
    gzip_min_length {{ item.value.gzip.min_length }};
    {% endif %}

    access_log /var/log/nginx/storefront.access.log;
    error_log /var/log/nginx/storefront.error.log;

    {% if item.value.load_balancer is defined %}
    location / {        
        proxy_pass         {{ item.value.load_balancer.proxy_pass }};
        proxy_http_version 1.1;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection keep-alive;
        proxy_set_header   Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }
    {% endif %}
}
